alembic==1.7.6
argparse==1.4.0
azure-storage-blob==12.8.1
bloom-filter==1.3.3
boto3==1.21.21
boto3-stubs[essential]==1.21.21
botocore==1.24.21
cachetools==4.2.2
category_encoders==2.1.0
celery==5.2.3
clickhouse-cityhash==1.0.2.3
clickhouse-driver==0.2.3
clickhouse-sqlalchemy==0.1.7
coverage==6.3
cryptography==3.3.2
dacite==1.6.0
dateparser==1.1.1
datetime==4.3
deepdiff==5.2.3
deprecation==2.1.0
docker==4.1
fastavro==1.4.0
fiddler-client==1.3.0
flask==2.0.1
flask-apispec==0.11.0
Flask-Migrate==3.1.0
flask-oso==0.8.0
flask-restful==0.3.7
flask-restx==0.5.0
Flask-SQLAlchemy==2.4.0
gevent==21.11.0
gunicorn==20.1.0
jsonschema==3.1.0
kubernetes==12.0.0
lark-parser==0.11.2
lz4==4.0.0
markupsafe==2.0.0
marshmallow==3.13.1
mypy-boto3-s3==1.21.21
numpy==1.22.0
oso==0.11.1
pandas==1.3.5
pandas-schema==0.3.5
pika==1.2.0
premailer==3.10.0
prometheus-client==0.7.0
psycopg2-binary==2.9.3
py-spy==0.1.0
pyarrow==7.0.0
pydantic==1.9.0
pyroscope-io==0.3.2
python-dateutil==2.8.2
python-decouple==3.5
python-snappy==0.6.0
pyyaml==5.4.0
redis==4.1.2
requests==2.27.1
requests-toolbelt==0.9.1
s3fs==2022.3.0
scikit-learn==0.22.1
sentry-sdk[celery]==1.8.0
sentry-sdk[flask]==1.8.0
signalfx==1.1.3
simplejson==3.17.0
smart-open==6.0.0
snowflake-connector-python==2.7.6
snowflake-sqlalchemy==1.2.3
sqlalchemy==1.3.23
sqlalchemy-mixins==1.5
sqlalchemy-oso==0.5.0
sqlalchemy-redshift==0.7.7
sqlparse==0.4.2
sympy==1.8
typing-extensions==4.1.0
validator-collection==1.5.0
watchdog==0.10.3
Werkzeug==2.0.2
